spring:
  application:
    name: hhplus
  profiles:
    active: local
  datasource:
    name: HangHaePlusDataSource
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 3
      connection-timeout: 10000
      max-lifetime: 60000
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate.timezone.default_storage: NORMALIZE_UTC
      hibernate.jdbc.time_zone: UTC

app:
  kafka:
    enabled: false
    bootstrap-servers: localhost:9092,localhost:9093,localhost:9094
    topics:
      order-events: order-events
      reservation-events: reservation-events
      restaurant-search-events: restaurant-search-events
    consumer-groups:
      order-data-platform: order-data-platform-consumer
      reservation-data-platform: reservation-data-platform-consumer
      restaurant-search-data-platform: restaurant-search-data-platform-consumer
      order-ranking: order-ranking-consumer

---
spring.config.activate.on-profile: local, test

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hhplus?characterEncoding=UTF-8&serverTimezone=UTC
    username: application
    password: application
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

---
spring.config.activate.on-profile: kafka

app:
  kafka:
    enabled: true

spring:
  kafka:
    bootstrap-servers: ${app.kafka.bootstrap-servers}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
